/******************************************************************
Site Name:
Author:

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/
/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {
  width: 731px;
  font-family: HelveticaNeueW01-45Ligh, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #fff;
  -webkit-font-smoothing: antialiased;
/*********************
	LINK STYLES
	*********************/
/******************************************************************
	H1, H2, H3, H4, H5 STYLES
	******************************************************************/
  padding: 1.5em 1.5em 0;
/*********************
		LARGER MOBILE DEVICES
		This is for devices like the Galaxy Note or something that's
		larger than an iPhone but smaller than a tablet. Let's call them
		tweeners.
		*********************/
}
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
body#tinymce.wp-editor html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body#tinymce.wp-editor body {
  margin: 0;
}
body#tinymce.wp-editor article,
body#tinymce.wp-editor aside,
body#tinymce.wp-editor details,
body#tinymce.wp-editor figcaption,
body#tinymce.wp-editor figure,
body#tinymce.wp-editor footer,
body#tinymce.wp-editor header,
body#tinymce.wp-editor hgroup,
body#tinymce.wp-editor main,
body#tinymce.wp-editor menu,
body#tinymce.wp-editor nav,
body#tinymce.wp-editor section,
body#tinymce.wp-editor summary {
  display: block;
}
body#tinymce.wp-editor audio,
body#tinymce.wp-editor canvas,
body#tinymce.wp-editor progress,
body#tinymce.wp-editor video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
body#tinymce.wp-editor audio:not([controls]) {
  display: none;
  height: 0;
}
body#tinymce.wp-editor [hidden],
body#tinymce.wp-editor template {
  display: none;
}
body#tinymce.wp-editor a {
  background-color: transparent;
}
body#tinymce.wp-editor a:active,
body#tinymce.wp-editor a:hover {
  outline: 0;
}
body#tinymce.wp-editor abbr[title] {
  border-bottom: 1px dotted;
}
body#tinymce.wp-editor b,
body#tinymce.wp-editor strong {
  font-weight: bold;
}
body#tinymce.wp-editor dfn {
  font-style: italic;
}
body#tinymce.wp-editor h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
body#tinymce.wp-editor mark {
  background: #ff0;
  color: #000;
}
body#tinymce.wp-editor small {
  font-size: 80%;
}
body#tinymce.wp-editor sub,
body#tinymce.wp-editor sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
body#tinymce.wp-editor sup {
  top: -0.5em;
}
body#tinymce.wp-editor sub {
  bottom: -0.25em;
}
body#tinymce.wp-editor img {
  border: 0;
}
body#tinymce.wp-editor svg:not(:root) {
  overflow: hidden;
}
body#tinymce.wp-editor figure {
  margin: 1em 40px;
}
body#tinymce.wp-editor hr {
  box-sizing: content-box;
  height: 0;
}
body#tinymce.wp-editor pre {
  overflow: auto;
}
body#tinymce.wp-editor code,
body#tinymce.wp-editor kbd,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
body#tinymce.wp-editor button,
body#tinymce.wp-editor input,
body#tinymce.wp-editor optgroup,
body#tinymce.wp-editor select,
body#tinymce.wp-editor textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
body#tinymce.wp-editor button {
  overflow: visible;
}
body#tinymce.wp-editor button,
body#tinymce.wp-editor select {
  text-transform: none;
}
body#tinymce.wp-editor button,
body#tinymce.wp-editor html input[type="button"],
body#tinymce.wp-editor input[type="reset"],
body#tinymce.wp-editor input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
body#tinymce.wp-editor button[disabled],
body#tinymce.wp-editor html input[disabled] {
  cursor: default;
}
body#tinymce.wp-editor button::-moz-focus-inner,
body#tinymce.wp-editor input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
body#tinymce.wp-editor input {
  line-height: normal;
}
body#tinymce.wp-editor input[type="checkbox"],
body#tinymce.wp-editor input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
body#tinymce.wp-editor input[type="number"]::-webkit-inner-spin-button,
body#tinymce.wp-editor input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
body#tinymce.wp-editor input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
body#tinymce.wp-editor input[type="search"]::-webkit-search-cancel-button,
body#tinymce.wp-editor input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
body#tinymce.wp-editor fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
body#tinymce.wp-editor legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
body#tinymce.wp-editor textarea {
  overflow: auto;
}
body#tinymce.wp-editor optgroup {
  font-weight: bold;
}
body#tinymce.wp-editor table {
  border-collapse: collapse;
  border-spacing: 0;
}
body#tinymce.wp-editor td,
body#tinymce.wp-editor th {
  padding: 0;
}
@font-face {
  font-family: "HelveticaNeueW01-UltLt";
  src: url("//www.miele.com/media/common/fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?iefix") format("eot");
}
@font-face {
  font-family: "HelveticaNeueW01-UltLt";
  src: url("//www.miele.com/media/common/fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?iefix");
  src: url("//www.miele.com/media/common/fonts/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff") format("woff"), url("//www.miele.com/media/common/fonts/7f1f2a7d-3837-4c93-b373-f03c5da3f9a1.ttf") format("truetype"), url("//www.miele.com/media/common/fonts/d9f2752a-8d82-4cf1-b82f-109c1105be7f.svg#d9f2752a-8d82-4cf1-b82f-109c1105be7f") format("svg");
}
@font-face {
  font-family: "HelveticaNeueW01-45Ligh";
  src: url("//www.miele.com/media/common/fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix") format("eot");
}
@font-face {
  font-family: "HelveticaNeueW01-45Ligh";
  src: url("//www.miele.com/media/common/fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix");
  src: url("//www.miele.com/media/common/fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), url("//www.miele.com/media/common/fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"), url("//www.miele.com/media/common/fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face {
  font-family: "HelveticaNeueW01-55Roma";
  src: url("//www.miele.com/media/common/fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix") format("eot");
}
@font-face {
  font-family: "HelveticaNeueW01-55Roma";
  src: url("//www.miele.com/media/common/fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix");
  src: url("//www.miele.com/media/common/fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("//www.miele.com/media/common/fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"), url("//www.miele.com/media/common/fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face {
  font-family: "HelveticaNeueW01-65Medi";
  src: url("//www.miele.com/media/common/fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix") format("eot");
}
@font-face {
  font-family: "HelveticaNeueW01-65Medi";
  src: url("//www.miele.com/media/common/fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?iefix");
  src: url("//www.miele.com/media/common/fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"), url("//www.miele.com/media/common/fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"), url("//www.miele.com/media/common/fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}
@font-face {
  font-family: "HelveticaNeueW01-75Bold";
  src: url("//www.miele.com/media/common/fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix") format("eot");
}
@font-face {
  font-family: "HelveticaNeueW01-75Bold";
  src: url("//www.miele.com/media/common/fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?iefix");
  src: url("//www.miele.com/media/common/fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("//www.miele.com/media/common/fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("//www.miele.com/media/common/fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
body#tinymce.wp-editor a,
body#tinymce.wp-editor a:visited {
  color: #e30613;
/* on hover */
/* on click */
}
body#tinymce.wp-editor a:hover,
body#tinymce.wp-editor a:visited:hover,
body#tinymce.wp-editor a:focus,
body#tinymce.wp-editor a:visited:focus {
  color: #e30613;
}
body#tinymce.wp-editor a:link,
body#tinymce.wp-editor a:visited:link {
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor .h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor .h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor .h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor .h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
}
body#tinymce.wp-editor h1 a,
body#tinymce.wp-editor .h1 a,
body#tinymce.wp-editor h2 a,
body#tinymce.wp-editor .h2 a,
body#tinymce.wp-editor h3 a,
body#tinymce.wp-editor .h3 a,
body#tinymce.wp-editor h4 a,
body#tinymce.wp-editor .h4 a,
body#tinymce.wp-editor h5 a,
body#tinymce.wp-editor .h5 a {
  text-decoration: none;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
body#tinymce.wp-editor h2,
body#tinymce.wp-editor .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
body#tinymce.wp-editor h3,
body#tinymce.wp-editor .h3 {
  font-size: 1.125em;
}
body#tinymce.wp-editor h4,
body#tinymce.wp-editor .h4 {
  font-size: 1.1em;
  font-weight: 700;
}
body#tinymce.wp-editor h5,
body#tinymce.wp-editor .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body#tinymce.wp-editor p {
  margin: 0 0 1.5em;
}
body#tinymce.wp-editor table {
  width: 100%;
  border: 1px solid #aaa;
  margin-bottom: 1.5em;
}
body#tinymce.wp-editor table caption {
  margin: 0 0 7px;
  font-size: 0.75em;
  color: $meta-gray;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body#tinymce.wp-editor tr {
  border-bottom: 1px solid #aaa;
}
body#tinymce.wp-editor tr:nth-child(even) {
  background-color: $light-gray;
}
body#tinymce.wp-editor td {
  padding: 7px;
  border-right: 1px solid #aaa;
}
body#tinymce.wp-editor td:last-child {
  border-right: 0;
}
body#tinymce.wp-editor th {
  background-color: $light-gray;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
body#tinymce.wp-editor th:last-child {
  border-right: 0;
}
body#tinymce.wp-editor blockquote {
  margin: 0 0 1.5em 0.75em;
  padding: 0 0 0 0.75em;
  border-left: 3px solid #0074d9;
  font-style: italic;
  color: $meta-gray;
}
body#tinymce.wp-editor dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
body#tinymce.wp-editor img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
body#tinymce.wp-editor .size-auto,
body#tinymce.wp-editor .size-full,
body#tinymce.wp-editor .size-large,
body#tinymce.wp-editor .size-medium,
body#tinymce.wp-editor .size-thumbnail {
  max-width: 100%;
  height: auto;
}
body#tinymce.wp-editor pre {
  background: #222;
  color: $light-gray;
  font-size: 0.9em;
  padding: 1.5em;
  margin: 0 0 1.5em;
  border-radius: 3px;
}
@media only screen and (min-width: 481px) {
  body#tinymce.wp-editor .alignleft,
  body#tinymce.wp-editor img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  body#tinymce.wp-editor .alignright,
  body#tinymce.wp-editor img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  body#tinymce.wp-editor .aligncenter,
  body#tinymce.wp-editor img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
}
