/*
Site Name: Miele - Best Cases
Owner: td-berlin.com
Author: Pablo Rueda Moltó
Resume: Adaptation to theme bones to jeet & Stylus  :)

Global Import

    * jeet
    * Axis
    * Rupture

Styl Input:

    * stylus/stylus.styl
    * stylus/login.styl
    * stylus/admin.styl
    * stylus/editor-style.styl

Css Output:

    * css/stylus.css
    * css/login.css
    * css/admin.css
    * css/editor-style.css
*/
/*
    IMPORTING PARTIALS
    These files are needed at the beginning so that we establish all
    our mixins, functions, and variables that we'll be using across
    the whole project.
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #222;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
@font-face {
  font-family: geo_light;
  src: url("../fonts/geomanist-light-webfont.eot");
  src: url("../fonts/geomanist-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/geomanist-light-webfont.woff") format('woff'), url("../fonts/geomanist-light-webfont.ttf") format('truetype'), url("../fonts/geomanist-light-webfont.svg#geo_light") format('svg');
  font-weight: 'normal';
  font-style: 'normal';
}
@font-face {
  font-family: geo_regular;
  src: url("../fonts/geomanist-regular-webfont.eot");
  src: url("../fonts/geomanist-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/geomanist-regular-webfont.woff") format('woff'), url("../fonts/geomanist-regular-webfont.ttf") format('truetype'), url("../fonts/geomanist-regular-webfont.svg#geo_regular") format('svg');
  font-weight: 'normal';
  font-style: 'normal';
}
@font-face {
  font-family: geo_book;
  src: url("../fonts/geomanist-book-webfont.eot");
  src: url("../fonts/geomanist-book-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/geomanist-book-webfont.woff") format('woff'), url("../fonts/geomanist-book-webfont.ttf") format('truetype'), url("../fonts/geomanist-book-webfont.svg#geo_book") format('svg');
  font-weight: 'normal';
  font-style: 'normal';
}
* {
  box-sizing: border-box;
}
/*
    PRINT STYLESHEET
    Feel free to customize this. Remember to add things that won't make
    sense to print at the bottom. Things like nav, ads, and forms should
    be set to display none.
*/
@media print {
  * {
    background: transparent !important;
    color: #222 !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
/*
    THEME STYLES

    Come on! Go to styling...
    To keep the independence of this file we only call main.stly
*/
/*# sourceMappingURL=style.css.map */